In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
a = [[1,2], [3,4]]

In [7]:
np.array(a)

array([[1, 2],
       [3, 4]])

In [8]:
pd.DataFrame(a)

   0  1
0  1  2
1  3  4

In [19]:
df = pd.DataFrame([{"math":1, "science": 2, "name": 3},{"math":3, "science": 4, "name": 5}]*100)
df

     math  science  name
0       1        2     3
1       3        4     5
2       1        2     3
3       3        4     5
4       1        2     3
..    ...      ...   ...
195     3        4     5
196     1        2     3
197     3        4     5
198     1        2     3
199     3        4     5

[200 rows x 3 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   math     200 non-null    int64
 1   science  200 non-null    int64
 2   name     200 non-null    int64
dtypes: int64(3)
memory usage: 4.8 KB

In [20]:
df.head()

   math  science  name
0     1        2     3
1     3        4     5
2     1        2     3
3     3        4     5
4     1        2     3