In [13]:
import pandas as pd

In [14]:
countries_covid_data = pd.read_csv("data/countries-aggregated.csv")

In [15]:
countries_covid_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [16]:
countries_covid_data.tail()

              Date   Country  Confirmed  Recovered  Deaths
161563  2022-04-12  Zimbabwe     247094          0    5460
161564  2022-04-13  Zimbabwe     247160          0    5460
161565  2022-04-14  Zimbabwe     247208          0    5462
161566  2022-04-15  Zimbabwe     247237          0    5462
161567  2022-04-16  Zimbabwe     247237          0    5462

In [17]:
countries_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [18]:
countries_covid_data["Date"] = pd.to_datetime(countries_covid_data["Date"])

In [19]:
countries_covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [20]:
countries_covid_data["Country"].nunique()

198

In [21]:
countries_covid_data[(countries_covid_data["Country"] == "Zimbabwe") & (countries_covid_data["Date"] == "2021-06-22")]

             Date   Country  Confirmed  Recovered  Deaths
161269 2021-06-22  Zimbabwe      42714      37288    1691

In [22]:
countries_covid_data.query("(Country == 'Zimbabwe') & (Date == '2021-06-22')")

             Date   Country  Confirmed  Recovered  Deaths
161269 2021-06-22  Zimbabwe      42714      37288    1691

In [23]:
countries_covid_data.loc[161269]

Date         2021-06-22 00:00:00
Country                 Zimbabwe
Confirmed                  42714
Recovered                  37288
Deaths                      1691
Name: 161269, dtype: object

In [24]:
countries_covid_data.iloc[2:5]

        Date      Country  Confirmed  Recovered  Deaths
2 2020-01-24  Afghanistan          0          0       0
3 2020-01-25  Afghanistan          0          0       0
4 2020-01-26  Afghanistan          0          0       0

In [25]:
countries_covid_data_country_idx = countries_covid_data.set_index("Country")

In [26]:
countries_covid_data_country_idx.iloc[161269]

Date         2021-06-22 00:00:00
Confirmed                  42714
Recovered                  37288
Deaths                      1691
Name: Zimbabwe, dtype: object

In [27]:
countries_covid_data.loc[161269]

Date         2021-06-22 00:00:00
Country                 Zimbabwe
Confirmed                  42714
Recovered                  37288
Deaths                      1691
Name: 161269, dtype: object

In [28]:
countries_covid_data_zimbabwe = countries_covid_data.query("(Country == 'Zimbabwe')")

In [29]:
countries_covid_data_zimbabwe.loc[160753]

Date         2020-01-23 00:00:00
Country                 Zimbabwe
Confirmed                      0
Recovered                      0
Deaths                         0
Name: 160753, dtype: object

In [30]:
countries_covid_data_zimbabwe.iloc[0]

Date         2020-01-22 00:00:00
Country                 Zimbabwe
Confirmed                      0
Recovered                      0
Deaths                         0
Name: 160752, dtype: object

In [31]:
countries_covid_data[(countries_covid_data["Country"] == 'Zimbabwe') & (countries_covid_data["Date"] == '2021-06-22')]

             Date   Country  Confirmed  Recovered  Deaths
161269 2021-06-22  Zimbabwe      42714      37288    1691

In [34]:
countries_covid_data.query("(Country == 'Zimbabwe') & (Date == '2021-06-22')")

             Date   Country  Confirmed  Recovered  Deaths
161269 2021-06-22  Zimbabwe      42714      37288    1691